.collection-wrapper {
  width: 100%;

  .collection {
    position: relative;
    width: 90%;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;

    &-item {
      display: flex;
      flex-direction: column;
      flex-basis: 30%;
      width: 30%;
      margin-top: 30px;

      &__title {
        font-weight: bold;
      }

      &__image {
        width: 100%;
      }

      &__description {
        margin-top: 10px;
        font-style: italic;
      }
    }
  }
}